[submodule "third_party/Simple-Web-Server"]
	path = third_party/Simple-Web-Server
	url = http://114.215.189.252/zhujian/Simple-Web-Server.git
[submodule "third_party/Simple-WebSocket-Server"]
	path = third_party/Simple-WebSocket-Server
	url = http://114.215.189.252/zhujian/Simple-Websocket-Server.git


